/* 7) Realiza una página que muestre un formulario para la conversión de Pesos a Dólares y
viceversa. Los campos del formulario han de poder ser limpiados. */

body{
    background-color: rgb(250, 250, 222);
}

#c1{
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

form{
    border: solid;
    padding: 3%;
    width: 30%;
    
}

h2{
    margin-top: 0%;
    text-align: center;
}

#b1, #b2{
    margin-right: 4%;
}

#pesos,#dolar{
   width: 90%;
}
