/* 17) Realice una página que escriba en un campo de texto una cadena. La cadena debe ser
escrita de a una letra por vez y el tiempo entre escritura de la letra debe ser 700ms. */

body{
    background-color: rgb(245, 165, 165);
    margin-top: 10%;
    font-family: cursive;
}


h2{
    text-align: center;
    margin-top: 0%;
}

#caja{
    display: flex;
    justify-content: center;
    
}

label{
    margin-right: 10px;
    font-size: 14px;
}

#c1{

    border:outset rgb(176, 92, 152);
    border-width: 6px;
    padding: 2%;
    width: 310px;
}

#c2{
    display: flex;
    justify-content: center;

}