body {
    font-family: Arial, sans-serif;
    background-color: #a6dab6;
    margin: 0;
    padding: 0;
}

#contenedor{
    display: flex;
    justify-content: center;
    margin-top: 5%;
} 

form {
    width: 30%;
    padding: 20px;
    background-color: #effdf1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#edad,#nombre,#email {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#c4{
    display: flex;
    justify-content: center;
}



