img {
    width: 40%;
    border: solid 5px lightskyblue;
}

.div1 {
    display: flex;
    justify-content: center;
}

.div2 {
    background-color: lightblue;
    border: solid rgb(162, 162, 227);
    width: 600px;
}

.div3{
    display: flex;
    justify-content: center;
}

.div2 p {
    font-size: 14px;
    padding-left: 6px;
    padding-right: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1 {
    text-align: center;
    color: rgb(152, 226, 229);
}

body {
    background-color: rgb(182, 174, 174);
}