body {
    background-color: #ffe7e3;
}

h2, h3{
    text-align: center;
    color: rgb(111, 54, 43);
    font-family: Verdana;
}

h3{
    margin-top: 0%;
}

#c1,#c3,#c4, #c6{
    display: flex;
    justify-content: center;
}

#c2{
    border: double 6px;
    padding: 3%;
    border-color: rgb(111, 54, 43);
    border-radius: 10%;
}

#c3{
    padding: 0%;
}

#c4{
    justify-content: space-around;
}

#c5{
    border: double 6px;
    padding: 2%;
    border-color: rgb(111, 54, 43);
    border-radius: 2%;
    width: 50% auto;
}

#c6{
    padding: 0%;
    margin: 0%;
}

label{
    font-family: Verdana;
}

#botonA{
    margin-right: 20px;
}